@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFD3B6;
    --foreground: #ededed;
  }
}
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.headerbar {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: gray;
  color: var(--foreground);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.card {
  height: 550px;
  width: 900px;
  background-color: #ededed;
  border-radius: 8px;
  border-color: gray;
  border-width: 1px;
  box-shadow: 5px 5px 2px rgb(148, 148, 148);
}

/*
.content{
  padding-left: min(3em, 10%);
  padding-right: min(3em, 10%);
  padding-top: min(3em, 10%);
  display: flex;
  flex-direction: row;

  gap: 100px;
  flex-wrap: wrap;
}
  */

.content {
  padding-left: min(3em, 10%);
  padding-right: min(3em, 10%);
  padding-top: min(3em, 10%);
  padding-bottom: min(3em, 10%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.content > * {
  flex: 1;
  min-width: 0;
}


.buttons-container{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: left;
  align-items: center;
  /*border-color: blue;
  border-width: 1px;*/
  padding-left: min(3em, 10%);
}

.button-single{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.resume-position{
  position: relative;
  top: 20px;
  left: 350px;
  rotate: 25deg;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: var(--background);*/
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

